
<div class="contact-title">
    <h1>CONTACTS</h1>
    <p>お問い合わせはこちらに・・・</p>
</div>
<div class="main-form">
    <form id="contact-form">
        <div class="forms">
            <label for="name">名前</label>
            <input type="text" id="name">
        </div>
        <div class="forms">
            <label for="number">電話番号</label>
            <input type="text" id="number">
        </div>
        <div class="forms">
            <label for="mail">メールアドレス</label>
            <input type="text" id="mail">
        </div>
        <div class="forms">
            <label for="contact">お問い合わせ内容</label>
            <input type="textarea" id="contact">
        </div>
        <div class="forms">
            <button class="form-submit" type="submit">送信</button>
        </div>
    </form>
</div>