
<div class="contact-title">
    <h1>CONTACTS</h1>
    <p>お問い合わせはこちらに・・・</p>
</div>
<form id="contact-form">
    <div class="main-form">
        <div>
            <label for="name">名前</label>
            <input type="text" id="name">
        </div>
        <div>
            <label for="number">電話番号</label>
            <input type="text" id="number">
        </div>
        <div>
            <label for="mail">メールアドレス</label>
            <input type="text" id="mail">
        </div>
        <div>
            <label for="contact">お問い合わせ内容</label>
            <input type="textarea" id="contact">
        </div>
        <div>
            <button type="submit">送信</button>
        </div>
    </div>
</form>