<div class="profile-titles">
    <h1>PROFIILE</h1>
</div>
<div class="profiles">
    <p class="about">私について</p>
    <p class="small-name">こはた みさ</p>
    <div id="pro-center">
        <div class="profile-lists">
            <ul class="left-pro-li">
                <li>名前</li>
                <li>年齢</li>
                <li>出身地</li>
                <li>趣味</li>
                <li>座右の銘</li>
            </ul>
            <ul class="pro-symbol">
                <li>:</li>
                <li>:</li>
                <li>:</li>
                <li>:</li>
                <li>:</li>
            </ul>
            <ul class="right-pro-li">
                <li>木幡 美沙</li>
                <li>24歳</li>
                <li>沖縄県</li>
                <li>手芸</li>
                <li>不撓不屈</li>
            </ul>
        </div>
    </div>
    <div class="careers">
        <p class="career-title">経歴</p>
        <p class="year">保育士歴：6年</p>
        <div id="career">
            <p class="business-content">＜業務内容＞</p>
            <p>文字色が変わっている業務内容は基本的業務外</p>
            <p>下記業務に遂行により完成した成果物はメニューギャラリーにて…</p><br>
            <ul>
                <li>・基本的な業務内容（クラス運営・書類）</li>
                <li>・子供の製作や室内壁面のデザインを考え、準備から実施までを担当（毎月）</li>
                <li>・行事に関する書類作成（保護者配布物や職員用レジュメ）</li>
                <li>・音源作成（行事に必要な曲を編集し、繋げる）</li>
                <li>・行事リーダー（行事に関する情報を周知、リハーサルなどの司会・進行を行う）</li>
                <li>・衣装作成（一番難しい物でサテン生地を使用し、鼓笛隊のような衣装を作った）</li>
                <li>・園内の整理整頓・美化（倉庫の整理や事務所の整理など共有部分）</li>
                <li>・栽培活動（花や野菜などをプランターで育て、食育係として活動）</li>
                <li>・パンフレットのデザイン考案・PCで作成</li>
                <li>・事務整理（保存書類作成・園内掲示書類）</li>
                <li>・毎月のおたより添削・発行（各クラスが持ってきたおたよりの添削・レイアウト微調整）</li>
            </ul>
        </div>
    </div>
</div>
