
<div class="report-title">
    <h1>REPORTS</h1>
    <p>勉強した言語・日付ごとの内容をまとめました</p>       
</div>
<%# ---- ドロップダウンメニュー 月ごとに検索 ---- %>
<div class="button-flex">
    <p>10月～4月の表示が可能です</p>    
    <select id="month-box" name="month">
        <option value="1">10月</option>
        <option value="2">11月</option>
        <option value="3">12月</option>
        <option value="4">1月</option>
        <option value="5">2月</option>
        <option value="6">3月</option>
        <option value="7">4月</option>
    </select>
    <input id="check-button" type="button" style="width:auto;height:18px;font-size:10px;" value="表示">
</div>
<%# ---- メインレポート画面 ---- %>
<div class="report-main">
    <div class="record">
        <p class="record-data">2021/4/5</p>
    </div>
    <div class="record-content">
        <div class="content-body">データベースを利用して、反映させます</div>
    </div>
</div>