<html>
    <%# メインタイトル文字 %>
    <div class="main-title">
        <img src="/max_main.png" alt="">
        <div id="box_fixed">
            <div class="titles">
                <h1>PORTFORIO</h1>
                <p>By&nbsp;Misa&nbsp;Kohata</p>
            </div>
        </div>
    </div>

    <%# 全体コンテンツ（2部構成 %>
    <div class="top-contents">
        <%# レポートコンテンツ %>
        <div class="each-contents-1">
            <div class="reports">
                <h2>Reports</h2>
                <p>今まで勉強した内容をまとめました。</p>
                <ul>
                    <li class="report-1">
                        <img id="flower" src="/hanawaku.png" alt="">
                        <p id="october">10月</p>
                    </li>
                    <li class="report-2">
                        <img id="flower" src="/hanawaku.png" alt="">
                        <p id="november">11月</p>
                    </li>
                    <li class="report-3">
                        <img id="flower" src="/hanawaku.png" alt="">
                        <p id="december">12月</p>
                    </li>
                    <li class="report-4">
                        <img id="flower" src="/hanawaku.png" alt="">
                        <p id="january">1月</p>
                    </li>
                    <li class="report-5">
                        <img id="flower" src="/hanawaku.png" alt="">
                        <p id="february">2月</p>
                    </li>
                    <li class="report-6">
                        <img id="flower" src="/hanawaku.png" alt="">
                        <p id="march">3月</p>
                    </li>
                </ul>
            </div>
        </div>
        
        <%# ワークコンテンツ %>
        <div class="each-contents-2">
            <div class="works">
                <div class="work">
                    <h2>Works</h2>
                    <p>作品を作ってみました</p>
                    <ul>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                    <li>6</li>
                    </ul>
                <div>
            </div>
        </div>
    </div>


</html>

