/******************************************************************

Stylesheet: 1280px以上のモニタで適用

******************************************************************/
/*----- 固定カラー -----*/
@import "other/base_color";

@media screen and (min-width: 1280px) {
  /*---------------------------------------------------------------
  トップページ
  ----------------------------------------------------------------*/

  /*----- タイトル文字の枠調整 -----*/
  body #box-fixed .box-title .titles {
    width: 49%;
    height: 21%;
    /* タイトル文字 */
    h1 {
      font-size: 7.5em;

      &::after {
        width: 46%;
      }
    }
  }

  .top-contents {
    margin: 40px 100px;
    width: auto;
  }

  /* ---------------------------------------------------------
  トップページ以外のh1指定
  -----------------------------------------------------------*/
  body .all-title {
    font-size: 6em;
    margin: 80px 0px;
  }

  /*-------------------------------------------------------------
  プロフィールページ
  --------------------------------------------------------------*/
  .profiles {
    margin: 40px 100px;
  }

  /*-------------------------------------------------------------
  レポートページ
  --------------------------------------------------------------*/

  .each-contents-1 .reports ul li img {
    width: 103.3px;
    height: 103px;
  }

  /*-----------------------------------------------------------------
  ワークページ
  -----------------------------------------------------------------*/

  /*-----------------------------------------------------------------
  学習記録記事データ
  -----------------------------------------------------------------*/

  .study-records {
    h1 {
      font-size: 60px;
      margin: 40px;
    }

    p {
      font-size: 100%;
    }
  }

  /*-----------------------------------------------------------------
  学習記録記事一覧
  -----------------------------------------------------------------*/

  .posts-index-date {
    margin: 40px 100px;
    width: auto;
  }

  /*---------------------------------------------------------------
  学習記事一覧ページ
  ---------------------------------------------------------------*/

  .main-posts-index {
    .container h1 {
      font-size: 50px;
      margin: 60px;
    }
  }
}
