/******************************************************************

Stylesheet: 1280px以上のモニタで適用

******************************************************************/
/*----- 固定カラー -----*/
@import "other/base_color";

@media screen and (min-width: 1280px) {
	/*---------------------------------------------------------------
  ヘッダー
  ----------------------------------------------------------------*/
	header {
		margin: 0 auto;
		width: 70%;

		aside {
			right: 15%;
		}
	}

	/*---------------------------------------------------------------
  トップページ
  ----------------------------------------------------------------*/

	/*----- タイトル文字の枠調整 -----*/
	body #box-fixed .box-title .titles {
		width: 49%;
		height: 21%;
		/* タイトル文字 */
		h1 {
			font-size: 7.5em;

			&::after {
				width: 46%;
			}
		}
	}

	#box-fixed .main-image {
		width: 70%;
		margin: 15%;
	}

	.top-contents {
		margin: 40px 15%;
		width: auto;

		.each-contents-1 {
			margin: 0;
			.reports .record-contents {
				width: 50%;
			}
		}

		.each-contents-2 {
			margin: 5% 0%;
		}
	}

	/* ---------------------------------------------------------
  トップページ以外のh1指定
  -----------------------------------------------------------*/
	body .all-title {
		font-size: 6em;
		margin: 80px 0px;
	}

	/*-------------------------------------------------------------
  プロフィールページ
  --------------------------------------------------------------*/
	.profiles {
		margin: 20px 15%;
		.about {
			font-size: 1.8em;
			height: 22px;
		}

		.careers {
			.career-title {
				font-size: 1.8em;
				height: 22px;
			}
		}
	}

	/*-------------------------------------------------------------
  レポートページ
  --------------------------------------------------------------*/
	/* ----- 新規記録 ----- */
	.new-input {
		width: 70%;
	}
	/*----- 表 -----*/
	.report-tables table {
		width: 70%;
		caption {
			font-size: 1.8em;
			height: 22px;
			margin: 20px 20px 10px 0px;
		}
	}

	/*----- レポートコンテンツ -----*/
	.each-contents-1 {
		margin: 20px 15%;
		.study-title {
			font-size: 1.8em;
			height: 22px;
		}

		.reports .month-title {
			margin-top: 20px;
			font-size: 1.8em;
		}
	}
	/*-----------------------------------------------------------------
  ワークページ
  -----------------------------------------------------------------*/

	/*-----------------------------------------------------------------
  新規記録ページ
  -----------------------------------------------------------------*/
	.post-form {
		font-size: 1.6em;
		/* 日付・勉強時間 */
		.small-form {
			.date-margin {
				margin-right: 20px;
				width: 30%;
			}
			.form-wrap {
				display: none;
			}
			.form-width {
				width: 3%;
				height: 18px;
			}
		}
	}
	/*-----------------------------------------------------------------
  学習記録記事データ
  -----------------------------------------------------------------*/

	.study-records {
		h1 {
			font-size: 60px;
			margin: 40px;
		}

		p {
			font-size: 100%;
		}
	}

	/*-----------------------------------------------------------------
  学習記録記事一覧
  -----------------------------------------------------------------*/
	.main-posts-index .container {
		margin: 0px 15%;
	}

	/*---------------------------------------------------------------
  学習記事一覧ページ
  ---------------------------------------------------------------*/

	.main-posts-index {
		.container h1 {
			font-size: 50px;
			margin: 60px;
		}
	}
}
