
<div class="main posts-index">
  <div class="container">
    <% @post.each do |post| %>
      <div class="posts-index-item">
        <!-- post.contentを使って書き換えてください -->
        <%= post.learning_content %>
      </div>
    <% end %>
  </div>
</div>