/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

//リセットcss
@import "other/reset";

//サイズに応じて適用されるcss(このファイル内はスマホ画面を基準として記述している）

//ベースとなるカラーコード
@import "other/base_color";

/* ----------     共通ヘッダー     ---------- */
body {
	font-family: "Kiwi Maru", serif;
	font-size: 62.5%;
	font-weight: 300;
	width: 100%;
	height: 100vh;
	background-color: $main;
	color: $blue;

	/* ハンバーガーメニュー配置 */
	header {
		height: 40px;

		.logo-icon {
			padding: 10px 0px 0px 10px;

			img {
				width: auto;
				height: 20px;
				vertical-align: top;
			}
		}
	}
	/* アイコン配置 */
	.open {
		position: absolute;
		top: 10px;
		right: 10px;
		z-index: 100;
		display: flex;
		flex-direction: column;
	}

	/* アイコンデザイン */
	.open-line {
		border-top: 2px solid $blue;
		width: 15px;
		height: 3px;
		display: inline-block;
	}

	/* チェックボックスを隠す */
	input[type="checkbox"] {
		position: absolute;
		right: -50vh;
		display: none;
	}

	/* 出てくるヘッダー（リスト） */
	aside {
		position: absolute;
		right: -80%;
		height: 100%;
		width: 80%;
		transition: all 0.2s;
		background-color: #fffef5;
		z-index: 99;

		nav {
			margin: 10px 10px 0px 10px;

			#header-list {
				padding: 10px;
				font-size: 1.5em;
				text-align: center;
				border-bottom: 1px solid $blue;

				a {
					text-decoration: none;
					color: $blue;
					&:hover {
						text-decoration: none;
					}

					&:active {
						text-decoration: none;
					}

					&:visited {
						color: $blue;
					}
				}

				img {
					width: 15px;
					height: auto;
				}
			}
		}
	}

	/* ×ボタン表示 */
	.close-line {
		border-top: 2px solid $blue;
		width: 15px;
		display: inline-block;
		position: absolute;
		top: 15px;
		right: 10px;
	}

	/* ×ボタンの線回転 */
	#line-1 {
		transform: rotate(-45deg);
	}

	#line-2 {
		transform: rotate(45deg);
	}

	/* クリック時に、リスト表示が右寄りに配置 */
	input[type="checkbox"]:checked ~ aside {
		right: 0;
	}

	/* クリック時にアイコンが消える */
	input[type="checkbox"]:checked ~ .open {
		display: none;
	}

	/* クリック時に出てくる半透明の画面 */
	input[type="checkbox"]:checked ~ .back {
		position: absolute;
		width: 100%;
		height: 100%;
		background: white;
		opacity: 0.5;
		z-index: 99;
	}

	/*-------------------------------------------------------
  トップページ以外のh１・p指定
  -------------------------------------------------------*/
	.all-title {
		font-size: 3em;
		margin: 20px 0px;
		text-align: center;
	}

	.description {
		font-size: 1.4em;
		text-align: center;
	}
}

/* ----------     共通フッター     ---------- */
footer {
	margin: 10px;
	border-top: solid 2px yellowgreen;

	ul.foo_title {
		display: flex;
		flex-direction: column;
		list-style: none;
		bottom: 0;

		& > li {
			width: 355px;
			font-size: 15px;
			color: $blue;
			border-bottom: solid 2px yellowgreen;
			padding: 5px 0px;
			width: 100%;
			a {
				text-decoration: none;
			}
		}
	}

	#copywriter {
		font-size: 12px;
		text-align: center;
		padding-top: 20px;
	}
}

// ~ デバイスの大きさに合わせて適用される ~

//スマホを横に傾けた時に適用
@import "style/breakpoints/480up";

// //タブレットに適用
@import "style/breakpoints/600up";

// //小さいディスプレイやノートpc
@import "style/breakpoints/960up";

// //pcディスプレイ
@import "style/breakpoints/1280up";
