// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "other/base_color";

// ---- 新規投稿画面のデザイン ---- //
.posts-forms {
  width: 100%;
  // 入力フォームデザイン
  .posts-form {
    width: 80%;
    margin: 0 auto;

    // 要素を中央寄せ
    .post-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 1.4em;

      // タイトル文字
      .form-name {
        font-size: 30px;
      }

      // 文字間の調節
      label {
        margin-top: 10px;
        margin-bottom: 5px;
      }

      // 2行以上のボックスの大きさを指定し、横方向移動禁止。
      textarea {
        resize: vertical;
        width: auto;
        height: 40px;
      }

      // 日付ボタンの大きさ 3つ
      select {
        width: 60px;
        margin: 10px;
      }

      // 文字を中央寄せ
      .date-flex {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }

      // 送信ボタンの大きさ指定
      .submit {
        margin: 10px auto;
        width: 110px;
      }
    }
  }
}

// ---- データ記録ページ ---- //
.study-record {
  h1 {
    font-size: 30px;
    margin: 25px;
    text-align: center;
  }

  p {
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
    margin: 5px 20px;
    border-bottom: solid 2px $pink;

    span {
      font-weight: 100;
      margin-left: 20px;
    }
  }

  .record-box-1 {
    height: 50px;
    margin: 0 20px;
    margin-bottom: 10px;
    white-space: pre-wrap;
  }

  .record-box-2 {
    height: 300px;
    margin: 0 20px;
    margin-bottom: 10px;
    white-space: pre-wrap;
  }

  .record-box-3 {
    height: 200px;
    margin: 0 20px;
    margin-bottom: 10px;
    white-space: pre-wrap;
  }
}

/*---------------------------------------------------------------
学習記事一覧ページ
---------------------------------------------------------------*/

.main-posts-index {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .posts-index-date {
      text-align: center;

      .interval-1 {
        border-bottom: solid 2px $pink;
        padding-bottom: 10px;
        margin: 10px;
      }
    }
  }
}
