@import "other/base_color";

/* ---- プロフィール全体 ---- */

/* 基本プロフィール */
.profiles {
  position: relative;
  margin: 10px 0px;

  /* 文字設定 */
  & .about {
    width: 75px;
    font-size: 15px;
    color: $cblue;
    border-bottom: 1px solid $cblue;
    padding: 3px;
    margin-left: 10px;
    font-weight: bolder;
  }

  & li {
    font-size: 15px;
    color: $cblue;
    margin: 10px;
  }

  & p {
    font-size: 15px;
    color: $cblue;
  }

  /* リストを横並びにする */
  & #pro-center {
    margin-bottom: 5px;
    /* リスト3つを中央揃え */
    & .profile-lists {
      padding: 0px 10px;
      display: flex;
      flex-direction: row;

      & .left-pro-li {
        list-style: none;
      }

      & .pro-symbol {
        list-style: none;
      }

      & .right-pro-li {
        list-style: none;
        position: relative;

        .small-name {
          &::before {
            content: "こはた みさ";
            font-size: 10px;
            position: absolute;
            top: 0;
          }
        }
      }
    }
  }

  /* 経歴 */
  .careers {
    /* 経歴タイトル */
    & .career-title {
      width: 30px;
      font-size: 15px;
      font-weight: bolder;
      color: $cblue;
      border-bottom: 1px solid $cblue;
      padding: 3px;
      margin: 0px 0px 10px 10px;
    }

    /* 保育士歴 */
    & .year {
      margin: -5px 0px 0px 20px;
      font-size: 12px;
    }

    /* 業務内容 */
    & #career {
      margin: 0px 10px 10px 10px;

      & .business-content {
        margin-top: 10px;
      }

      & ul li {
        list-style: none;
        margin: 5px 10px;

        img {
          width: auto;
          height: 15px;
        }

        .while {
          width: 15px;
          height: 15px;
          display: inline-block;
        }
      }
    }
  }
}
