@import "other/base_color";

/* ---- プロフィール全体 ---- */

/* 基本プロフィール */
.profiles {
	position: relative;
	margin: 0% 5%;

	/* 文字設定 */
	.about {
		font-size: 1.4em;
		height: 16px;
		color: $blue;
		border-left: 5px solid yellowgreen;
		padding-left: 5px;
		font-weight: bolder;
	}

	li {
		color: $blue;
		margin: 10px;
	}

	/* リストを横並びにする */
	#pro-center {
		margin-bottom: 30px;
		/* リスト3つを中央揃え */
		.profile-lists {
			padding: 0px 10px;
			display: flex;
			flex-direction: row;
			font-size: 1.4em;

			.left-pro-li {
				list-style: none;
			}

			.pro-symbol {
				list-style: none;
			}

			.right-pro-li {
				list-style: none;
				position: relative;

				.small-name {
					&::before {
						content: "こはた みさ";
						font-size: 10px;
						position: absolute;
						top: 0;
					}
				}
			}
		}
	}

	/* 私という人物 */
		.about-p {
			text-align: left;
			font-size: 1.4em;
			line-height: 1.5;
			text-indent: 0.5em;
			margin: 10px auto;
		}

	/* 経歴 */
	.careers {
		margin-top: 30px;
		/* 経歴タイトル */
		.career-title {
			font-size: 1.4em;
			font-weight: bolder;
			color: $blue;
			border-left: 5px solid yellowgreen;
			padding-left: 5px;
			height: 16px;
		}

		/* 保育士歴 */
		.year {
			margin: 5px 0px 0px 10px;
			font-size: 1.2em;
		}

		/* 業務内容 */
		#career-1 {
			margin: 0px 10px 30px 10px;
			font-size: 1.4em;

			.business-content {
				margin-top: 10px;
				border-bottom: solid 1px $pink;
				padding-bottom: 5px;
			}

			ul li {
				list-style: none;
				margin: 10px 10px;
				line-height: 1.3;

				&:first-child {
					margin: 5px 10px;
				}

				img {
					width: auto;
					height: 11px;
					transform: rotate(6deg);
					margin-right: 5px;
				}

				.while {
					width: 10px;
					display: inline-block;
				}
			}
		}

		#career-2 {
			margin: 0px 10px 10px 10px;
			font-size: 1.4em;

			.business-content {
				margin-top: 10px;
				border-bottom: solid 1px $pink;
				padding-bottom: 5px;
			}

			ul li {
				list-style: none;
				margin: 10px 10px;
				line-height: 1.3;

				&:first-child {
					margin: 5px 10px;
				}

				img {
					width: auto;
					height: 11px;
					transform: rotate(6deg);
					margin-right: 5px;
				}

				.while {
					width: 10px;
					display: inline-block;
				}
			}
		}
	}
}
