/*------------------------------------------------------------------------

トップページcssファイル
このファイル内はスマホ画面を基準として記述している
480以上の画面サイズはブレイクポイントごとにcssファイルが存在する

--------------------------------------------------------------------------*/

/*----- ベースとなるカラーコード -----*/
@import "other/base_color";

/*----- ヘッダーとフッターの間 -----*/
main {
	width: 100%;
}

/*-------------------------------------------------------------------------
メイン画面
--------------------------------------------------------------------------*/

#box-fixed {
	position: relative;
	display: block;
	width: 100%;

	/* タイトル文字配置ボックス */
	.box-title {
		height: 81%;
		width: 74%;
		position: absolute;
		top: 0;
		/* タイトルボックス */
		.titles {
			position: absolute;
			width: 67%;
			height: 34%;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			margin: auto;

			h1 {
				font-size: 2.5em;
				text-shadow: 0px 1px 1px #424a50;
				font-weight: 100;
				color: $blue;
				position: absolute;
				display: inline-block;
				width: 100%;
				text-align: center;
			}
		}
	}
	/* メイン画像 */

	.main-image {
		width: 80%;
		height: 100%;
		top: 0;
		opacity: 0.7;
		margin: 10%;
	}
}

/*-------------------------------------------------------------------------
コンテンツ（レポート・ワーク）
--------------------------------------------------------------------------*/

/* コンテンツタイトル文字 */
.top-contents {
	display: block;
	position: relative;
	width: 100%;
	height: 61%;
	margin: 10px 0px;
	text-align: center;

	/* (共通)レポート・ワークタイトル文字 */
	h2 {
		font-size: 1.8em;
		font-weight: 100;
		margin: 0px 0px 5px 0px;
		color: $blue;
	}

	p {
		color: $blue;
		font-weight: 100;
		margin-bottom: 10px;
		margin-top: 8px;
	}

	/* 最新レポート */
	.latest-reports {
		width: 90%;
		text-align: center;
		margin: 0 auto 40px auto;

		p {
			width: 90%;
			text-align: left;
		}

		li {
			list-style: none;
			margin: 10px 0 10px 15px;
			text-align: left;

			span {
				margin-right: 20px;
			}

			a {
				text-decoration: none;
				color: $blue;
			}

			&:active {
				text-decoration: none;
			}

			&:visited {
				color: $blue;
			}
		}

		.latest-reports-link {
			text-align: right;

			a {
				text-decoration: none;
				color: $blue;
				border-bottom: dashed 2px yellowgreen;
				padding-bottom: 2px;
			}

			&:active {
				text-decoration: none;
			}

			&:visited {
				color: $blue;
			}
		}
	}
	/* 私について全体 */
	.my-about {
		margin-bottom: 20px;
	}
	/* 内容 */
	.content-p {
		text-align: left;
		font-size: 1.4em;
		width: 90%;
		margin: 20px auto;
		line-height: 1.5;
		text-indent: 0.5em;
		margin: 0 auto;
	}

	/* 月リンク */
	.header-link {
		height: 19px;
		color: $blue;
		text-decoration: none;
		/* クリック関連 */
		&:hover {
			text-decoration: underline;
		}

		&:active {
			text-decoration: none;
		}

		&:visited {
			color: $blue;
		}
	}

	/* ---- サイトについて ---- */
	.site-contents {
		margin-top: 20px;
		.site-title {
			font-size: 1.8em;
		}

		.site-p {
			margin-top: 5px;
		}

		.site-content-text {
			h3 {
				font-size: 1.4em;
				margin: 10px 0px;
				font-weight: 300;
				border-bottom: solid 1px $pink;
				padding: 5px;
				text-align: left;
				margin: 10px auto;
				width: 90%;
			}
		}
		.site-content {
			text-align: left;
			font-size: 1.4em;
			width: 90%;
			margin: 20px auto;
			line-height: 1.5;
			text-indent: 0.5em;
			margin: 0 auto;
		}

		/* ポートフォリオリンク */
		.site-thoughts-margin {
			margin: 40px;
		}
	}

	/* ---- スライドショー装飾 ---- */
	.slider {
		margin: 0 auto;
		overflow: hidden;
		display: flex;
	}
	.slider-item {
		margin: 0 5px;
		width: 250px;
	}
	img {
		width: 100%;
		opacity: 0.5;
	}
	.slider-inner {
		animation: slider 10s infinite linear 1s both;
		display: flex;
	}

	@keyframes slider {
		0% {
			transform: translateX(0);
		}
		to {
			transform: translateX(-100%);
		}
	}

	/* ---- レポート関連 ---- */
	.each-contents-1 {
		text-align: center;
		position: relative;
		height: 63%;
		margin-bottom: 10px;

		.reports {
			display: inline-block;
			position: relative;
			width: 100%;

			.thoughts-content-p {
				margin: 0 auto;
			}

			/* ---- 学習記録リンク ---- */
			.record-contents {
				text-align: left;
				position: relative;
				margin: 25px auto;
				width: 85%;

				.content-p {
					font-size: 1.2em;
				}

				/* 新規投稿・全記録一覧リンク */
				.small-icon-list {
					display: flex;
					margin-top: 15px;
					padding-left: 20px;
					.record-icon {
						img {
							width: 14px;
							height: 14px;
							margin-right: 5px;
						}
					}

					.new-record-icon {
						margin-right: 10px;
					}
				}
				/* 花枠view */
				.frame-img {
					position: absolute;
					bottom: 0;
					right: 0;
					transform: rotate(10deg);

					img {
						width: 40.3px;
						height: 40px;
					}
				}
				.view {
					position: absolute;
					bottom: 17px;
					right: 7px;
					transform: rotate(10deg);
					font-weight: 400;
				}
				/* リンクデザイン */
				a {
					text-decoration: none;
					color: $blue;
					font-size: 1em;
					vertical-align: middle;
				}

				&:active {
					text-decoration: none;
				}

				&:visited {
					color: $blue;
				}
			}
			/* 学習記録タイトル */
			.record-title {
				margin-bottom: 10px;
			}
			/* 2020年・2021年 文字サイズ */
			.year-number-1 {
				font-size: 1.2em;
			}

			.year-number-2 {
				font-size: 1.2em;
			}

			/* 月ごとリスト */
			ul {
				list-style: none;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;

				/* クリック関連 */
				.october {
					a {
						text-decoration: none;
						color: $blue;
						font-size: 1.2em;
					}
					&:hover {
						text-decoration: underline;
					}

					&:active {
						text-decoration: none;
					}

					&:visited {
						color: $blue;
					}
				}
				/* レポートリスト関連 */
				li {
					position: relative;
					margin: 0px 20px 5px 20px;
					/* 月名を花枠内に中央寄せ */
					p {
						position: absolute;
						top: 50%;
						left: 50%;
						-webkit-transform: translate(-50%, -50%);
						transform: translate(-50%, -50%);
						font-size: 1.2em;
						font-weight: bolder;
					}
					/* 花枠画像 */
					img {
						width: 63.3px;
						height: 60px;
					}
				}
			}
		}
	}

	/* ---- ワーク関連 ---- */
	.each-contents-2 {
		text-align: center;
		position: relative;
		height: 40%;
		.work-size {
			height: 200px;
		}

		.work-size-images {
			display: flex;
			justify-content: center;
			margin: 40px 0;

			.work-size_parent {
				margin: 0 20px;
			}
			.work-size_administar {
				margin: 0 20px;
			}
			img {
				width: 70%;
				opacity: 1;
				width: 90%;
				height: 90%;
				margin: 0 10px;
			}
			p {
				border-bottom: solid 2px $pink;
				margin: 10px auto;
				width: 50%;
				padding-bottom: 5px;
			}
		}
		/* 四角リスト */
		ul {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			list-style: none;

			li {
				width: 60px;
				height: 60px;
				border: 2px solid pink;
				margin: 0px 20px 5px 20px;
			}
		}

		/* 保育システムの感想・内容リンク */
		.site-thoughts {
			margin: 20px;
			.thoughts-content-p {
				margin: 20px;
			}
			a {
				text-decoration: none;
				color: $blue;
				border: dashed 2px yellowgreen;
				padding: 5px;
				border-radius: 5px;
				&:hover {
					text-decoration: underline;
				}

				&:active {
					text-decoration: none;
				}

				&:visited {
					color: $blue;
				}
			}
		}

		/* ホームページの内容 */
		.work-content {
			text-align: left;
			font-size: 1.4em;
			width: 90%;
			margin: 20px auto;
			line-height: 1.5;
			text-indent: 0.5em;
			margin: 0 auto;
			margin-bottom: 20px;
		}
	}
}

// ~ デバイスの大きさに合わせて適用される ~

//スマホを横に傾けた時に適用
@import "style/breakpoints/480up";

//タブレットに適用
@import "style/breakpoints/600up";

//小さいディスプレイやノートpc
@import "style/breakpoints/960up";

//pcディスプレイ
@import "style/breakpoints/1280up";
