@import "other/base_color";

/* レポート画面css */

/* ---- 文字調節 ---- */
.report-title {
  text-align: center;
  & h1 {
    font-size: 30px;
    color: $cblue;
  }

  & p {
    font-size: 15px;
  }
}

/* ---- ドロップダウンメニュー ---- */
.button-flex {
  display: flex;
  text-align: center;

  & #check-button {
    width: 20px;
    height: 10px;
  }
}

/* ---- メイン ---- */
.report-main {
  & .record-data {
    color: grey;
  }

  & .record-content {
    width: 100%;
    max-width: 100%;
    height: 30%;
  }
}
